{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    // transform-decorators-legacy should come
    // before transform-class-properties!!
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}
